/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Lato:wght@300;400;700&family=Marcellus+SC&family=Poppins:ital,wght@0,400;0,500;0,800;1,400&family=Rock+Salt&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-near-black: #231f20;
  --color-white: #ffffff;
  --color-lite-blue: #a8dadc;
  --color-body-bkgnd: #f1f1ff;

  /*palette 1 cool theme */
  --color-rich-background: #d0d9cb;
  --color-common-background: #b1c0c9;
  --color-accent-back-ack: #A4CE39;
  --color-accent-text-hot: #CB2026;
  --color-shade: #c7c8ca;
  --color-text: #000000;
  /*palette 2 warm theme 
  --color-rich-background: #9f2214;
  --color-common-background: #b25538;
  --color-accent-back-ack: #fec77c;
  --color-accent-text-hot: #ffbe0b;
  --color-shade: #d9d9d9;
  --color-text: #ffffff;
  */

  --ratio: 1.4;

  --size-sm: calc(1rem * var(--ratio));
  --size-med: calc(var(--size-sm) * var(--ratio));
  --size-lg: calc(var(--size-med) * var(--ratio));
  --size-xlg: calc(var(--size-lg) * var(--ratio));
/*
  --clamp-ratio: 1.5;

  --clmin-sm: calc(1rem * var(--clamp-ratio));
  --clmin-med: calc(var(--clmin-sm) * var(--clamp-ratio));
  --clmin-lg: calc(var(--clmin-med) * var(--clamp-ratio));
  --clmin-xlg: calc(var(--clmin-lg) * var(--clamp-ratio));

  --clmax-sm: calc(1.5rem * var(--clamp-ratio));
  --clmax-med: calc(var(--clmax-sm) * var(--clamp-ratio));
  --clmax-lg: calc(var(--clmax-med) * var(--clamp-ratio));
  --clmax-xlg: calc(var(--clmax-lg) * var(--clamp-ratio));


  --clmin: calc(1rem * var(--clamp-ratio));
  --clmax: calc(2rem * var(--clmax-xlg));
  */
  font-family: 'Marcellus SC', serif;
  line-height: 1.3;
}

body {
  background: var(--color-white);
}

header {
  color: var(--color-white);
  background: #000000;
  padding: 1rem;
}

.expmt-header {
  background: #eaeaea;
}

.lndg-banner {
  text-align: center;
}
.logo {
  width: clamp(100px, 15vw, 180px);
  height: clamp(100px, 15vw, 180px);
}
#burger {
  width: clamp(40px, 8vw, 80px);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

h2 {
color: var(--color-accent-text-hot);
  margin: auto;
//  font-family: 'Marcellus SC', serif;
 // font-size: clamp(1.8rem, 10vw, 2.8rem);
font-size: 18px;
font-size: clamp(1rem, 10vw, var(--size-xlg));
}
p {
  color: var(--color-near-black);
  font-size: 12px;
  font-size: clamp(1rem, 5vw, var(--size-sm));
}


.button1,
.button2 {
  transition: all .5s ease-in-out;
}

.button1:hover,
.button2:hover {
  transform: scale(1.1) translateY(5px);
  background-color: var(--color-accent-text-hot);
  color: var(--color-white);
}

#home .home-pg,
#web .web-pg,
#photo .photo-pg,
#illus .illus-pg,
#expmt .expmt-pg,
#more .more-pg {
  text-decoration: none;
  color: var(--color-accent-text-hot);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}
main {
  margin-bottom: 20rem;
}
/*  hamburger menu */

.main-nav li {
  display: block;
  font-size: 1.4rem;
  text-align: right;
  padding: .5rem 1rem 0 0;
  margin: 0;
}

.main-nav a {
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.main-nav {
  background: #d1d1d1;
  padding: 1rem 0 2rem 0;
  margin: 0;
  font-weight: 500;
  position: absolute;
  top: 150px;
  left: -40px;
  z-index: 3;
  width: 45%;
  transition: left 0.35s ease;
}


.show {
  transition: left 0.45s ease;
  left: -100%;
}

/* add keyframe animation transition when click hamburger icon */
.main-nav {
  animation: fade-in 3s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  85% {
    transform: translatex(1rem);
  }

  100% {
    opacity: 1;
  }
}

.main-nav a:hover {
  color: var(--color-accent-text-hot);
  text-shadow: 0 0 1px #ddd;
}

/* end hamburger menu */


/* hero images and text and button treatment */

.hero-image {
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.lndg-hero-image {
  background-image: url("../images/digart_splash3.jpeg");
  height: 500px;
  background-position: center top;
}

.lndg-hero-text {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  text-shadow: 3px 3px #000000;
}
.cta {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

button {
  text-transform: uppercase;
}
.button1 {
  background-color: var(--color-white);
  color: #000000;
}
.button2 {
  background-color: var(--color-accent-back-ack);
  color: #000000;
}

.more-hero-image {
  background-image: url("../images/Page_Under_Construction.jpeg");
  height: 1200px;
  background-position: center top;
}

.photo-hero-image {
  background-image: url("../images/under-construction.jpeg");
  height: 1200px;
  background-position: center bottom;
}

/* intro messages */
.intro {
  font-family: 'Marcellus SC', serif;
  background-color: var(--color-white);
  text-align: center;
  padding-top: 2rem;
}
.intro h2{
  font-size: 20px;
  font-size: clamp(.8rem, 8vw, var(--size-xlg));
}
.intro h3 {
  padding: 1rem 1rem 2rem 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-size: clamp(1rem, 3vw, var(--size-med));
  line-height: 1.5;
}

.tile_img {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.tile-grid {
  padding: 2rem;
  display: grid;
}

.tile-unit {
  background-color: var(--color-near-black);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  box-shadow: 3px 3px 18px -8px #263238;
}

.tile-unit p {
  color: var(--color-white);
  font-family: 'Lato', sans-serif;
  padding: 1rem;
}

.content {
  font-family: 'Lato', sans-serif;
}

.home-hero {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.gallery-grid {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* end grid*/

/* Footer */
footer {
  background-color: #000000;
  color: var(--color-white);
  font-family: 'Lato', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.f_content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 1rem 0 0 2rem;
}

.f_links {
  padding-left: 4rem;
  color: var(--color-white);
}

.f_links a {
  text-decoration: none;
  color: var(--color-white);
}
.f_cp {
  padding: 0 0 2rem 2rem;
  color: #ffffff;
  font-size: 14px;
}

/* media queries */
@media only screen and (min-width: 600px) {
  .lndg-hero-image {
    height: 600px;
  }
  .hero-text {
    color: #00b4d8;
  }
}


@media only screen and (min-width: 850px) {
  .main-nav li {
    font-size: 1.7rem;
  }

  .main-nav {
    width: 30%;
  }
/*
  .tile-unit p,
  .content h2 {
    font-size: 1.4rem;
  }
  */
  .lndg-banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 3rem*/
  }

}

@media only screen and (min-width: 1400px) {
  .lndg-hero-image {
    height: 800px;
  }

  .hero-text {
    color: #ffbe0b;
  }

  .main-nav li {
    font-size: 2rem;
  }

  .main-nav {
    width: 20%;
  }
}